body, main {
    background-color: rgb(216, 216, 216);
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    min-height: 100%;
    position: relative;
}

main {
    padding-bottom: 75px;
}

.loginBox, .addEventBox, .eventDisplay {
     width: 75%;
     margin-top: 50px;
}

.header {
    background-color: #07aa9e;
    height: 130px;
}

#logo {
    height: 130px;
    margin-left: 20px;
}

.logoutButton {
    float: right;
}

.largeButton {
    width: 200px;
    height: 60px;
}

.buttonContainer, .eventContainer {
    padding-top: 50px;
    margin-bottom: 100px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: rgb(117, 117, 117);
}

.footerText {
    color: whitesmoke;
}

.eventInfo {
    font-weight: bold;
    font-size: 18px;
}