<div ng-include="'views/partials/header.html'"></div>

<div class="eventContainer" layout="column" layout-align="center center">
    <div class="eventDisplay" layout="column">
        <md-toolbar><h2 class="md-toolbar-tools"><span>Events</span></h2></md-toolbar>
        <md-card ng-repeat="event in ec.events" ng-click="details = !details">
            <md-card-content>
                <span class="eventInfo">{{event.eventName}},</span> {{event.date | date}}
                <br>
                <!-- attendees, volunteers, notes to go in ng-hide/show here -->
                <div class="hiddenContent" ng-show="details">
                    <b>Attendees:</b>
                    <div ng-repeat="attendee in event.attendees">
                        {{attendee.name}}
                    </div>
                    <b>Volunteers:</b>
                    <div ng-repeat="volunteer in event.volunteers">
                        {{volunteer.name}}
                    </div>
                    <b>Notes:</b>
                    <br>
                    {{event.notes}}
                </div>
                
            </md-card-content>
            
        </md-card>
    </div>
</div>

<div ng-include="'views/partials/footer.html'"></div>