<div ng-include="'views/partials/header.html'"></div>

<div layout="column" layout-align="center center" id="popupContainer">
    <div class="md-whiteframe-z1 loginBox" layout="column">
        <md-toolbar><h2 class="md-toolbar-tools"><span>Register</span></h2></md-toolbar>
        <md-content class="md-padding" layout="column">
            <md-input-container>
                <label>Name</label>
                <input type="text" ng-model="rc.name" required>
            </md-input-container>
            <md-input-container>
                <label>Email</label>
                <input type="email" ng-model="rc.username" required>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="rc.password" required>
            </md-input-container>
            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" ng-click="rc.register()">Register</md-button>
            </div>
        </md-content>
    </div>
</div>

<div ng-include="'views/partials/footer.html'"></div>